@model List<MultiShop.DTOLayer.CommentDTOs.ResultCommentDTO>

<div class="tab-pane fade" id="tab-pane-3">
    <div class="row">
        <div class="col-md-6">
            <h4 class="mb-4">@Model.Count() yorum yapıldı</h4>

            @foreach (var item in Model)
            {
                <div class="media mb-4">
                    <img src="~/img/user.jpg" alt="Image" class="img-fluid mr-3 mt-1" style="width: 45px;">
                    <div class="media-body">
                        <h6>@item.NameSurname<small> - <i>@item.CreatedDate.ToString("dd MMM yyyy")</i></small></h6>
                        <div class="text-primary mb-2">
                            @for (int i = 1; i <= 5; i++)
                            {
                                <i class="@(i <= item.Rating ? "fas" : "far") fa-star"></i>
                            }
                        </div>
                        <p>@item.CommnetDetail</p>
                    </div>
                </div>
            }
        </div>

        <div class="col-md-6">
            <h4 class="mb-4">Yorum Bırakın</h4>
            <small>E-posta adresiniz yayınlanmayacaktır. Gerekli alanlar işaretlenmiştir *</small>

            <form method="post" action="/ProductList/AddComment">
                <input type="hidden" name="ProductId" value="@ViewBag.productId" />

                <div class="d-flex my-3">
                    <p class="mb-0 mr-2">Puanınız * :</p>
                    <div class="text-primary">
                        <input type="number" name="Rating" min="1" max="5" class="form-control-sm" value="5" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="message">Yorumunuz *</label>
                    <textarea name="CommnetDetail" cols="30" rows="5" class="form-control" required></textarea>
                </div>
                <div class="form-group">
                    <label for="name">Adınız Soyadınız *</label>
                    <input type="text" name="NameSurname" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="email">E-posta Adresiniz *</label>
                    <input type="email" name="Email" class="form-control" required>
                </div>
                <div class="form-group mb-0">
                    <input type="submit" value="Yorum Yap" class="btn btn-primary px-3">
                </div>
            </form>
        </div>
    </div>
</div>